/*.cmd
/*.saved
/*.sln.*
/*.sublime-project
/*.sublime-workspace
/*.suo
/.dicts
/.editorconfig
/.idea
/.jshintrc
/.nuget
!/.nuget/Packages.config
/.stylelintrc.json
/.sublime*
/.vs*
!/.vscode/extensions.json
!/.vscode/launch.json
!/.vscode/settings.json
!/.vscode/tasks.json
/_*
/jslint.json
/tslint.template.json
/!tslint.json
/NuGet.config
/nuget_modules
/R#.Pandell.DotSettings
/R#.PandellDictionary.DotSettings

*.dotCover
*.user
bin
build
node_modules
npm-debug.log
obj

# JetBrains Rider
.idea/